@import 'src/styles/variables.scss';

.social{
  &__list{
    display: flex;
    gap: 50px;
  }
  &__item{

  }
  &__link{
    svg {
      transition: $transition5;
      width: 25px;
      height: 25px;
      &:hover {
        color: $colorPrimary-3;
        cursor: pointer;
      }
    }
  }
}