$maxWidth: 1280px;
$colorPrimary-1: #e0fcff;
$colorPrimary-2: #c6f1e7;
$colorPrimary-3: #70acb1;
$colorSecondary-1: #efefef;
$colorWhite: #fff;
$colorBlack: #000;
$borderRadius-small: 3px;
$transition5: .5s;