@use 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';

.footer{
  @include mixins.flexColumn;
  justify-content: center;
  min-height: 100px;
  background-color: $colorBlack;
  color: $colorSecondary-1;
  p {
    margin-top: 20px;
  }
}