@use "src/styles/mixins.scss";
@import 'src/styles/variables.scss';

.skills {
  @include mixins.flexColumn;
  h3 {
    margin-bottom: 30px;
  }
  &__slider{
    position: relative;
    display: flex;
    align-items: center;
  }
  &__slider_prev, &__slider_next{
    position: absolute;
    left: -25px;
    background-color: $colorPrimary-3;
    border-radius: $borderRadius-small;
    transition: $transition5;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    &:hover{
      background-color: $colorPrimary-2;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__slider_next{
    left: initial;
    right: -25px;
  }
  &__list {
    display: flex;
    gap: 50px;
    width: 75vw;
    max-width: 710px;
    height: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: $transitionLong;
      svg {
        width: 100px;
        height: 100px;
        color: $colorPrimary-3;
      }
  }
  &__item_active{
    opacity: 1;
  }
}

