@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.contact{
  padding: 100px 30px;
  min-height: calc(100vh - 100px);
  background-color: $colorSecondary-1;
  @media screen and (max-width: 650px) {
    padding-bottom: 50px;
  }
  &__wrapper{
    @include mixins.center;
    @include mixins.flexColumn;
    h2 {
      padding: 30px 0 10px;
    }
    p {
      margin-bottom: 50px;
    }
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }
  }
  &__talk {
    padding: 3px;
    position: relative;
    border-radius: $borderRadius-small;
    overflow: hidden;
    &::before, &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, transparent, $colorPrimary-3, $colorPrimary-3);
      transform-origin: bottom right;
      animation: circle 10s linear infinite;
    }
    &::after {
      animation-delay: -5s;
    }
  }
  &__talkWrap {
    background-color: $colorSecondary-1;
    z-index: 10;
    position: relative;
    padding: 15px;
    height: 100%;
    h3 {
      margin-bottom: 20px;
      display: flex;
      gap: 5px;
    }
    span {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 25px;
    }
    svg {
      color: $colorPrimary-3;
      width: 20px;
      height: 20px;
    }
  }
  &__write {
    padding: 3px;
    position: relative;
    border-radius: $borderRadius-small;
    overflow: hidden;
    &::before, &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, transparent, $colorPrimary-3, $colorPrimary-3);
      transform-origin: bottom right;
      animation: circle 10s linear infinite;
    }
    &::after {
      animation-delay: -5s;
    }
  }
 }

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}